:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #858282;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
#root {
  width: 100vw;
  height: 100vh;
}
.signInPage {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100%;
}
.logoImage{
  width: 70vw;
  max-width: 500px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.signInTextFields{
  margin-bottom: 10px;
}
.usernameLogin {
  margin: 10px;
}
.passwordLogin {
  margin: 10px;
}
.signInPageButtons{
  display: flex;
  justify-content: space-around;
}
.welcomeText {
  margin: auto;
  margin-top: 20px;
  width: 50%;
  text-align: center;
  padding: 5px;
  border: solid black;
  border-radius: 5px;
}

.signUpPage{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signUpForm{
  display: flex;
  flex-direction: column;
}
.signUpFormLabel{
  display: inline-block;
  font-size: 3vw;
  text-align: center;
  width: 130px
}
.signUpPageInput{
   margin: 20px;
}
.clientListPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fullClientList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.clientListPageButtons{
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
}
.clientListCard {
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: 130px;
  height: 55px;
  overflow: hidden;
}
.clientListCard:hover {
  transform: scale(1.5);
}
.priorityText{
  font-size: 0px;
}
.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview {
  display: flex;
  flex-direction: column;
}
.gaugeComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.calendarComponent {
  width: 400px;
}
.individualClientInfoPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.individualClientInfoPageButtons {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}
.individualClientCard {
  border: solid black;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  width: 70vw;
  max-width: 400px;
}
.individualClientComments {
  border: solid black 1px;
  
  padding: 2px;
  height: 100px;
  overflow-y: scroll;
}
.createClientForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.oneRowOfInput {
  margin: 5px 0;
}
.formDetails {
  width: 85vw;
  display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 2px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.createClientLabel {
  display: inline-block;
  font-size: 3.2vw;
  text-align: center;
  width: 130px
}
.commentSection {
  display: flex;
}
.commentsLabel {
  height: 80px;
  
}
.createClientCommentsInput {
  height: 80px;
  width: 210px
}
.createClientFormButtons {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  margin: 10px;
}
.oneButton {
  width: 120px;
}
.createClientInput {
  width: 210px
}
.createClientExistingProduct {
  width: 250px
}
.existingProductInput {
  display: flex;
  justify-content: center;
}
.priorityInput {
  display: flex;
  justify-content: center;
}
.priorityForm{
  width: 280px
}
.createClientFormExistingLabel {
  font-size: small;
}
.profilePageInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productNameParagraph {
  font-size: small;
  width: 200px;
}
.individualClientPipeline {
  display: flex;
}
.pipelineInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MEDIA QUERIES FOR BIG SCREENS */
@media only screen and (min-width: 768px) {
  .welcomeText{
    max-width: 500px;
  }
  .signUpFormLabel{
    font-size: 15px;
  }
  .priorityText{
    font-size: 0.8vw;;
  }
  .overview {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
  }
  .formDetails {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 2px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  .createClientLabel {
    font-size: 1vw;
  }
  .oneButton {
    width: 120px;
  }
  .oneButtonDiv {
    margin: 5px;
  }
  .oneRowOfInput {
    margin: 2px 0;
  }
  .individualClientCard {
    border: solid black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    width: 70vw;
    max-width: 1300px;
  }
  .individualClientCardMiddle {
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }
  .individualClientCardLeft {
    border: solid black 1px;
    width: 45%;
    font-size: medium;
    padding: 5px;

  }
  .individualClientCardRight {
    border: solid black 1px;
    width: 45%;
    font-size: 1vw;
    padding: 5px;

  }
  strong {
    font-size: small;
  }

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
